<div class="center">
  <h1>Leaderboard</h1>
    
  <div *ngIf="scores">
    <div *ngFor="let score of scores | scorePipe:5" class="col-xs-12">
      <div class="col-xs-4">
        <h4>{{score.team | titlecase}}</h4>
      </div>
      <div class="col-xs-4">
        <h4>{{score.score}}</h4>
      </div>
      <div class="col-xs-4">
        <h4>{{score.date}}</h4>
      </div>
    </div>
  </div>

  <div *ngIf="!scores">
    <h1>Nobody has uploaded any scores yet!</h1>
    <under-construction></under-construction>
  </div>

</div>
