<div class="center">
  <h1>Welcome to the</h1>
  <img width="100%" src="assets/images/logo.gif">
  <hr/>

  <h4>Founded in 2018 by an intrepid bunch of nerds, the Vintage Computing Competition
      is the largest computing competition with a £50 budget in the Edinburgh postcode area!</h4>
  <hr/>
  <h4>This year, four teams of highly experienced computing professionals will battle it output
      to be crowned vintage computing champion. They must follow a strict set of <a routerLink="/rules">competition rules</a>
      whilst building their machines, with regular benchmark tests being uploaded to our state-of-the-art
      <a routerLink="/leaderboard">leaderboard system</a>.</h4>

  <hr/>
</div>
<under-construction></under-construction>
<hr/>

<div class="row">
  <div class="col-lg-4">
    <img src="assets/images/ie.gif">
  </div>
  <div class="col-lg-4">
    <h4>Best viewed in</h4>
  </div>
  <div class="col-lg-4">
    <img src="assets/images/netnow3.gif">
  </div>
</div>
<p>
